$main-color:#5ece80;
$text-color:#36433b;
$links-font:14px;
$logo-font:30px;
$h1-font:48px;
$h2-font:24px;
$h3-font:26px;
$h4-font:20px;
$p-font:16px;
$why-h3:34px;
$wht-border-color:#eff0ee;
$paragraf-font:16px;
$poppins:'Poppins';
$raleway:'Raleway';
$countsBgColor:#f7f7f7;
$cards-icon-size:32px;
$cards-color:#37423b;
$trainer-color:#eef0ef;
$popular-color:#777777;
$mentor-color:#aaaaaa;
$footer-top-bg:#f9faf9;
$footer-hover-color:#428f59;
$input-hover-color:#26974a;