*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}
.swiper {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
  }
  .slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-caption {
    text-align: center; 
    position: absolute;
    bottom: 10px; 
    left: 0; 
    right: 0;
    top: 50%;
}
.image-caption span{
  background: #ccc;
}
.card{
  padding: 10px;
}
.card-img{
  overflow: hidden;
  height: 250px;
}
.card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: .3s linear;
}
button .darkmode-layer, .darkmode-toggle {
  z-index: 500;
}