* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.container {
    width: 600px;
    height: 900px;
    margin: 50 auto;
}

.container .title {
    width: 100%;
    text-align: center;
}

.container .title .card {
    width: 200px;
    height: 200px;
    border: 2px solid crimson;
    border-radius: 50%;
    background: burlywood;
    margin: 10 auto;
}

.container .title .card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}

.container .title hr {
    height: 5px;
    width: 100%;
    background: blue;
}

.container .content {
    margin: 20px 0;
}

.container .content article h3 {
    font-weight: 700;
    color: orangered;
    margin: 10px 0;
}