$bg-color:#e0e4e9;
$title-color:#292b2c;
$paragraft-color: #898889;
$paragraft-size:20px;
$card-bg-color:white;
$border-color:#877a7a;
$icons-color: rgb(255, 196, 0);
$icons-hover-color:white;
$price-color:#ff7a58;
$button-bg-color:#ed4a28;
$button-color:white;
$button-hover-color:#821b07;
$service-border-color:#fd5d3c;
$service-card-title-font-size:23px;
$service-card-title-font-weight:400;