.footer-container {
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    .center-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-weight: bold;
        font-size: 20px;
      }
      p {
        font-size: 18px;
        transition: 0.3s;
        &:hover {
          color: red;
        }
      }
    }
  }

  .bootom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

    p {
      color: gray;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer-container {
    .center {
      display: block;
      .center-item {
        width: 120px;
        margin-top: 20px;
      }
    }
  }
}
